.nav-bar{
  background-color: rgb(139, 224, 139);
  display: flex;
  color: white;
  justify-content: space-evenly;
  align-items: center;
}

.nav-link{
  background-color: rgb(63, 68, 171);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;

}
.logo img{
  width: 70px;
  height: 70px;
  border-radius: 10px;
}
.nav-link:hover{
  background-color: aquamarine;
}
