header{
    background-color: rgb(145, 141, 141);
    font-size: x-large;
    text-align: center;
    padding-bottom: 10px;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline;
    background-color: aqua;
    padding: 10px;
    border-radius: 10px;
}
footer{
    background-color: rgb(76, 74, 74);
    padding: 20px;
    color: white;
    text-align: center;
}
main{
    /* border: 1px solid red; */
    display: flex;
    padding-bottom: 180px;
    background-color: aqua;
}

img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding-top: 10px;
}
#home{
    text-align: center;
    /* border: 1px solid black; */
    flex-grow: 0.5;
    flex-shrink: 1;
    flex-basis: 0;
}
#info{
    /* border: 1px solid black; */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    font-size: x-large;
    text-align: justify;
    padding: 20px;
}
#skills{
    border: 2px solid red;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;

}
.skill{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    transition: transform 0.5s;

}
.skill:hover{
    background-color: white;
    transform:scale(1.2)
}



  
  

  
  
  
  